* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: Roboto;
}

.content {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-top: 55px;
}

/* Contact info  */
.heading {
    font-size: 30px;
    position: relative;
}

.heading::before {
    position: absolute;
    content: "";
    display: inline-block;
    width: 60px;
    height: 4px;
    background: #ffb736;
    top: 40px;
}

.info-title {
    font-size: 22px;
    margin: 40px 0px;
}

.info-item {
    display: flex;
    margin: 20px 0;
    color: #999;
}

.info-item,
i {
    font-size: 14px;
    font-weight: 400;
}

.value {
    margin-left: 20px;
}

/* Contact Form  */
.contact-form {
    width: 100%;
    padding: 28px 32px;
}

.form-title {
    font-size: 22px;
    margin: 40px 80px 40px 0;
}

.form-group {
    margin-bottom: 15px;
}

.form-input {
    display: block;
    width: 100%;

    outline: none;
    border: 1px solid #999;
    padding: 10px;
    color: #999;
}

.form-input::placeholder {
    color: #999;
}

.form-error {
    display: none;
}

.submit-btn {
    margin-top: 8px;
    width: 130px;
    height: 38px;
    font-size: 14px;
    background-color: #109d9c;
    border: none;
    color: #fff;
}
