* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: Roboto;
}

.content {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    gap: 14rem;
}

/* Contact info  */

.heading {
    font-size: 2.8rem;
    position: relative;
    margin-top: 55px;
}

.heading::before {
    position: absolute;
    content: "";
    display: inline-block;
    width: 60px;
    height: 3px;
    background: #ffb736;
    top: 40px;
}

.info-title {
    font-size: 2.2rem;
    margin: 40px 0px;
}

.info-item {
    display: flex;
    margin: 20px 0;
    color: #999;
    margin-bottom: 35px;
}

.info-item,
i {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.2;
}

.value {
    margin-left: 20px;
}

/* Contact Form  */
.contact-form {
    width: 100%;
}

.form-title {
    font-size: 22px;
    padding: 123px 0 30px 0;
}

.form-group {
    margin-bottom: 15px;
}

.form-input {
    display: block;
    width: 100%;
    outline: none;
    border: 1px solid #999;
    padding: 10px;
    color: #999;
}

.form-input::placeholder {
    color: #999;
}

.form-error {
    display: none;
}

textarea {
    font-family: roboto;
    height: 105px;
}

.submit-btn {
    margin-top: 8px;
    width: 130px;
    height: 38px;
    font-size: 1.4rem;
    background-color: #109d9c;
    border: none;
    color: #eefafa;
}
