* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background: #f9f9fb;
}

body,
input,
button {
    font-size: 1.6rem;
    font-family: "Nunito", sans-serif;
}

main {
    margin: 48px 0;
}

/* Container */
.container {
    display: flex;
    width: 870px;
    margin: 60px auto 0;
    padding: 6px;
    border-radius: 10px;
    background: #fff;
}

/* login info */
.login-info {
    position: relative;
    flex-shrink: 0;
    width: 330px;
    padding: 24px 30px 30px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    color: #fff;
    background: #ec6355;
    overflow: hidden;
}

.login-info h2 {
    font-weight: 600;
    font-size: 2.2rem;
    text-align: center;
}

.login-info .desc {
    margin-top: 20px;
    font-size: 1.4rem;
    text-align: center;
    line-height: 1.2;
}

.login-info .btn {
    display: block;
    margin: 30px auto 0;
    background-color: #fff;
    border: none;
    border-radius: 3px;
    height: 30px;
    width: 110px;
    font-size: 1.4rem;
    color: #db5c50;
}

.socials {
    display: flex;
    justify-content: center;
    column-gap: 5px;
    margin: 30px 0 80px;
}

.socials .item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 27px;
    height: 27px;

    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    background-color: #db5c50;
}

.socials .item:hover {
    background: #fff;
    border-radius: 2px;
    color: #ec6355;
}

/* Login form */
.login-form {
    flex-grow: 1;
    padding: 28px 32px;
}

.form-group {
    flex-grow: 1;
}

.form-input {
    width: 100%;
    outline: none;
    display: block;
    border: 1px solid #e3e3e9;
    padding: 8px 0 14px 0;
    color: #717171;
}

.form-input::placeholder {
    color: #717171;
}
