/* PC  */
@media screen and (min-width: 992px) {
}

/* Tablet & Mobile  */
@media screen and (max-width: 991px) {
    .feature .feature-row {
        margin: 20px 5px 0;
    }
    .feature .feature-row .feature-video {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        width: 100%;
    }

    .feature .feature-row .feature-video iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
/* Tabet  */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .feature .feature-row .feature-video {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        width: 100%;
    }

    .feature .feature-row .feature-video iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
/* Mobile  */
@media screen and (max-width: 767px) {
    .hero {
        display: none;
    }

    .intro .heading::after {
        display: none;
    }

    .intro .number-item span {
        font-size: 48px;
    }

    .intro .number-item .item-row img {
        width: 40px;
        height: 40px;
    }

    .intro .number-item .item-row p {
        font-size: 13px;
    }

    .feature .heading h2::after {
        display: none;
    }

    .customer .heading h2::after {
        display: none;
    }

    .partner .heading h2::after {
        display: none;
    }

    .customer .customer-row {
        margin: 0 10px;
    }

    .footer .footer-row {
        display: flex;
        margin: 20px 10px 0;
    }
}
