/* PC  */
@media screen and (min-width: 992px) {
}

/* Tablet & Mobile  */
@media screen and (max-width: 991px) {
    .feature .feature-row {
        margin: 20px 5px 0;
    }
    .feature .feature-row .feature-video {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        width: 100%;
    }

    .feature .feature-row .feature-video iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
/* Tabet  */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .feature .feature-row .feature-video {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        width: 100%;
    }

    .feature .feature-row .feature-video iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .feature .heading h2::after {
        display: none;
    }

    .customer .heading h2::after {
        display: none;
    }

    .partner .heading h2::after {
        display: none;
    }
}

/* Mobile  */
@media screen and (max-width: 767px) {
    .hero {
    }

    .hero .media-block .media .img-1 {
        display: none;
    }

    .hero .media-block .media .img-2 {
        height: 300px;
        left: 50%;
    }

    .hero .content-block .heading {
        position: absolute;
        top: 50px;
        left: 10%;
        padding: 0;
        margin-left: 0px;
    }

    .hero .content-block .heading-action {
        position: absolute;
        top: 80px;
        left: 10%;
        font-size: 16px;
    }

    .hero .content-block .heading-action span {
        font-size: 28px;
    }

    .hero .content-block .desc {
        position: absolute;
        top: 120px;
        left: 12%;
        font-size: 16px;
    }

    .hero .content-block .cta {
        position: absolute;
        top: 200px;
        left: 20%;
    }

    .number {
        display: none;
    }
    .intro .heading::after {
        display: none;
    }

    .intro .number-item span {
        font-size: 42px;
    }

    .intro .number-item .item-row img {
        width: 40px;
        height: 40px;
        padding: 2px;
    }

    .intro .number-item .item-row p {
        font-size: 13px;
    }

    .feature .heading h2::after {
        display: none;
    }

    .customer .heading h2::after {
        display: none;
    }

    .partner .heading h2::after {
        display: none;
    }

    .customer .customer-row {
        margin: 0 10px;
    }

    .footer .footer-row {
        display: flex;
        margin: 5px 5px;
    }
}
