/* PC  */
@media screen and (min-width: 992px) {
}

/* Tablet & Mobile  */
@media screen and (max-width: 991px) {
    .feature .feature-row {
        margin: 20px 5px 0;
    }
    .feature .feature-row .feature-video {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        width: 100%;
    }

    .feature .feature-row .feature-video iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
/* Tabet  */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .feature .feature-row .feature-video {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        width: 100%;
    }

    .feature .feature-row .feature-video iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .feature .heading h2::after {
        display: none;
    }

    .customer .heading h2::after {
        display: none;
    }

    .partner .heading h2::after {
        display: none;
    }
}

/* Mobile  */
@media screen and (max-width: 767px) {
    .hero {
        height: 600px;
    }

    .hero .img-1 {
        display: none;
    }

    .hero .img-2 {
        transform: translateY(10%);
        background-position: -34px 100px;
        background-size: 455px auto;
    }

    .hero .img-3 {
        position: absolute;
        height: 355px;
        transform: translateX(-33%);
        background-size: 330px auto;
        bottom: 0;
    }

    .hero .title {
        position: absolute;
        top: 20px;
    }

    .hero .title h2 {
        width: 100%;
        display: inline-block;
        margin: 0 10px;
        text-align: center;
    }
    .hero .title h2::before,
    .hero .title h2::after {
        display: none;
    }
    .hero .group-item .item .fa-circle-check {
        font-size: 1.6rem;
    }

    .hero .group-item {
        position: absolute;
        top: 50px;
        padding: 0 10px;
    }

    .hero .group-item p {
        font-size: 1.4rem;
    }

    /* Number  */

    .number {
        display: none;
    }

    /* Price  */

    .price {
        padding-top: 0;
    }

    /* Intro  */
    .intro .heading::after {
        display: none;
    }

    .intro .number-item span {
        font-size: 42px;
    }

    .intro .number-item .item-row img {
        width: 40px;
        height: 40px;
        padding: 2px;
    }

    .intro .number-item .item-row p {
        font-size: 13px;
    }

    .feature .heading h2::after {
        display: none;
    }

    .customer .heading h2::after {
        display: none;
    }

    .partner .heading h2::after {
        display: none;
    }

    .customer .customer-row {
        margin: 0 10px;
    }

    .footer .footer-row {
        display: flex;
        margin: 5px 5px;
    }
}
