* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    /* background: #f9f9fb; */
}

body,
input,
button {
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
    /* font-family: 'Roboto', sans-serif; */
}

/* Hero  */

.hero {
    background-image: url("../images/anh-3.png");
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;
    background-position: center;
    height: 620px;
    position: relative;
}

.main-content {
    width: 1200px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.hero .body {
    display: flex;
}

.hero .media-block {
    width: 40%;
}

.hero .media-block .media {
    position: relative;
    height: 320px;
}

.hero .media-block .media .img-1 {
    width: 370px;
    position: absolute;
    top: 20px;
    left: 550px;
    display: block;
    float: right;
}

.hero .media-block .media .img-2 {
    height: 476px;
    position: absolute;
    bottom: 20px;
    left: 280px;
    float: left;
    z-index: 1;
}

.hero .content-block {
    width: 60%;
    color: #f15623;
    text-align: center;
}

.hero .content-block .heading {
    padding-top: 250px;
    font-size: 3rem;
    font-style: italic;
    margin-left: 70px;
}

.hero .content-block .heading-action {
    padding-top: 10px;
    font-size: 2rem;
}

.hero .content-block .heading-action span {
    font-size: 4.1rem;
    line-height: 37px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}
.hero .content-block .desc {
    padding-top: 20px;
    font-size: 1.5rem;
    font-weight: 400;
}

.hero .content-block .cta {
    display: inline-block;
}

.hero .content-block .cta a {
    margin-top: 10px;
    font-size: 20px;
    line-height: 32px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    background-color: #f15623;
    text-align: center;
    border-width: 3px solid #f15623;
    border-radius: 56px;
    width: 242px;
    height: 56px;
    display: block;
    padding-top: 12px;
}

/* Number  */
.number {
    padding: 50px 0;
}

.number .group-item {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    flex-wrap: wrap;
}

.number .group-item .item {
    position: relative;
    display: block;
}

.number .group-item .item .img {
    position: absolute;
    top: 20px;

    width: 50px;
}

.number .group-item .item h3 {
    padding-top: 20px;
    margin-left: 70px;
    font-size: 42px;
    font-weight: 700;
    color: #f15623;
}
.number .group-item .item p {
    margin-left: 70px;
    color: #848d95;
}

/* Price  */

.price .row {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.price .group-item {
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 10px;
    flex-grow: 1;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.price .group-item:hover {
    border: 1px solid red;
}

.price .group-item .item-row {
    display: flex;
    align-items: center;
    column-gap: 5px;
    padding: 10px;
}

.price .group-item .item-row .fa-circle-check {
    color: green;
}

.price .group-item .item-row .fa-circle-xmark {
    color: red;
}

/* Intro  */

.intro {
    padding: 20px 0;
    /* background-color: #000; */
}

.intro .heading {
    text-align: center;
    font-size: 23px;
    line-height: 37px;
    color: #f15623;
    font-weight: 700;
    position: relative;
}

.intro .heading::after {
    position: absolute;
    content: "";
    height: 5px;
    width: 350px;
    border-bottom: 1px solid #f15623;
    left: 415px;
}

.intro .intro-row {
    padding-top: 40px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

.intro .number-item {
    width: 425px;
    background-color: #f8f5f5;
    color: #f15623;
    height: 230px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.intro .number-item h3 {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
}

.intro .number-item p {
    font-size: 19px;
    color: #575757;
    margin-top: 20px;
    display: block;
    text-align: right;
}

.intro .number-item span {
    font-size: 66px;
    color: #f15623;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    line-height: 0.9;
}

.intro .number-item .item-row {
    display: flex;
    margin-top: 20px;
    margin-left: 5px;
    align-items: center;
}

.intro .number-item .item-row p {
    text-align: left;
    margin-left: 10px;
    margin-top: 0px;
    font-size: 19px;
}

.intro .number-item .item-row img {
    height: 60px;
    width: 60px;
    background-color: #f15623;
    padding: 10px;
    border-radius: 50%;
}

.intro .intro-brand {
    display: flex;
    max-width: 680px;
    margin: 50px auto 0;
    background-color: #f8f5f5;
    padding: 20px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.intro .intro-brand img {
    height: 60px;
    width: 60px;
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid #f15623;
}

.intro .intro-brand p {
    margin-left: 10px;
    font-size: 19px;
    color: #575757;
    line-height: 1.2;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
}

.intro .intro-cta {
    padding-top: 50px;
    text-align: center;
}

.intro .intro-cta h3 {
    font-size: 2.3rem;
    line-height: 3.7rem;
    font-weight: 700;
    color: #575757;
    display: block;
}

.intro .intro-cta a {
    margin: 20px auto 0;
    padding: 20px;
    display: block;
    text-decoration: none;
    width: 200px;
    color: #f15623;
    border: 2px solid #f15623;
    background-color: #fff;
    border-radius: 50px;
}

/* Feature  */

.feature {
    background-color: #f15623;
    padding-bottom: 50px;
}

.feature .heading {
    text-align: center;
    padding-top: 40px;
}

.feature .heading h2 {
    color: #fff;
    font-size: 23px;
    line-height: 1.6;
    font-weight: 700;
    position: relative;
}

.feature .heading h2::after {
    position: absolute;
    content: "";
    height: 5px;
    width: 350px;
    border-bottom: 1px solid #fff;
    top: 40px;
    left: 415px;
}

.feature .heading p {
    color: #fff;
    font-size: 1.6rem;
    line-height: 26px;
    padding-top: 20px;
}

.feature .feature-row {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 110px 0;
}

.feature .feature-info {
    color: #fff;
    font-size: 1.6rem;
    line-height: 26px;
    padding: 0 20px;
}

.feature .feature-info ul {
    padding-left: 20px;
    list-style-type: disc;
    list-style-position: outside;
}

/* customer  */
.customer {
    background-color: #f5fafe;
    padding-bottom: 40px;
}

.customer .heading {
    text-align: center;
    padding-top: 40px;
}

.customer .heading h2 {
    color: #f15623;
    font-size: 23px;
    line-height: 1.6;
    font-weight: 700;
    position: relative;
}

.customer .heading h2::after {
    position: absolute;
    content: "";
    height: 5px;
    width: 150px;
    border-bottom: 1px solid #f15623;
    top: 40px;
    left: 515px;
}

.customer .customer-row {
    display: flex;
    flex-wrap: wrap;
    column-gap: 17px;
    margin: 30px 150px;
}

.customer .customer-row .customer-item {
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 20px;
    padding: 15px;
    width: 288px;
    position: relative;
    flex-grow: 1;
    margin: 10px 0;
}
.customer .customer-item .img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 3px solid #f15623;
    position: absolute;
    background-color: #ccc;
}
.customer .customer-item .info h3 {
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    margin-left: 80px;
    padding-top: 5px;
}

.customer .customer-item .info span {
    font-weight: 400;
    line-height: 26px;
    margin-left: 80px;
}

.customer .customer-item .desc {
    margin: 20px auto;
    font-size: 14px;
    line-height: 22px;
    text-align: justify;
}

/* Partner  */

.partner .heading {
    text-align: center;
    padding-top: 60px;
    padding-top: 20px;
}

.partner .heading h2 {
    color: #f15623;
    font-size: 23px;
    line-height: 1.6;
    font-weight: 700;
    position: relative;
}

.partner .heading h2::after {
    position: absolute;
    content: "";
    height: 5px;
    width: 350px;
    border-bottom: 1px solid #f15623;
    top: 40px;
    left: 430px;
}

.partner .heading p {
    color: #000;
    font-size: 1.6rem;
    line-height: 26px;
    padding-top: 20px;
}

.partner .partner-group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.partner .partner-group .item {
    flex-grow: 1;
    text-align: center;
    padding-bottom: 60px;
}

.partner .partner-group .item .img {
    width: 170px;
}

/* Footer  */

.footer {
    background-color: #f15623;
    padding-bottom: 50px;
}

.footer .heading {
    text-align: center;
    padding-top: 40px;
}

.footer .heading h2 {
    color: #fff;
    font-size: 23px;
    line-height: 1.6;
    font-weight: 700;
    position: relative;
}

.footer .heading h2::after {
    position: absolute;
    content: "";
    height: 5px;
    width: 350px;
    border-bottom: 1px solid #fff;
    top: 40px;
    left: 415px;
}

.footer .heading p {
    color: #fff;
    font-size: 1.6rem;
    line-height: 26px;
    padding-top: 20px;
}

.footer .footer-row {
    display: flex;
    margin: 20px 110px 0;
}

.footer .footer-info {
    color: #fff;
    font-size: 1.4rem;
    line-height: 26px;
    padding: 0 20px;
}

.footer .footer-info ul {
    padding-left: 20px;
    list-style-type: square;
    list-style-position: outside;
}

/* Phone  */
.coccoc-alo-ph-circle {
    width: 160px;
    height: 160px;
    top: 20px;
    left: 20px;
    position: absolute;
    background-color: transparent;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid rgba(30, 30, 30, 0.4);
    opacity: 0.1;
    -webkit-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
    -moz-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
    -ms-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
    -o-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
    animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.coccoc-alo-phone {
    background-color: transparent;
    width: 200px;
    height: 200px;
    cursor: pointer;
    z-index: 200000 !important;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    -webkit-transition: visibility 0.5s;
    -moz-transition: visibility 0.5s;
    -o-transition: visibility 0.5s;
    transition: visibility 0.5s;
    right: 150px;
    top: 30px;
}

.coccoc-alo-phone.coccoc-alo-green .coccoc-alo-ph-circle-fill {
    background-color: rgba(0, 175, 242, 0.5);
    opacity: 0.75 !important;
}

.coccoc-alo-ph-circle-fill {
    width: 100px;
    height: 100px;
    top: 50px;
    left: 50px;
    position: absolute;
    background-color: #000;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid transparent;
    opacity: 0.1;
    -webkit-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
    -moz-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
    -ms-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
    -o-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
    animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.coccoc-alo-ph-img-circle {
    width: 60px;
    height: 60px;
    top: 70px;
    left: 70px;
    position: absolute;
    background: rgba(30, 30, 30, 0.1)
        url(https://drive.google.com/uc?id=1V3N2b79QjDWetC_ss9wI3c-xpWDymn9R)
        no-repeat center center;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid transparent;
    opacity: 0.7;
    -webkit-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
    -moz-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
    -ms-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
    -o-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
    animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
}

.coccoc-alo-phone.coccoc-alo-green .coccoc-alo-ph-img-circle {
    background-color: #00aff2;
}

.coccoc-alo-phone.coccoc-alo-green .coccoc-alo-ph-circle {
    border-color: #00aff2;
    opacity: 0.5;
}

.coccoc-alo-phone.coccoc-alo-green.coccoc-alo-hover .coccoc-alo-ph-circle,
.coccoc-alo-phone.coccoc-alo-green:hover .coccoc-alo-ph-circle {
    border-color: #75eb50;
    opacity: 0.5;
}

.coccoc-alo-phone.coccoc-alo-green.coccoc-alo-hover .coccoc-alo-ph-circle-fill,
.coccoc-alo-phone.coccoc-alo-green:hover .coccoc-alo-ph-circle-fill {
    background-color: rgba(117, 235, 80, 0.5);
    opacity: 0.75 !important;
}

.coccoc-alo-phone.coccoc-alo-green.coccoc-alo-hover .coccoc-alo-ph-img-circle,
.coccoc-alo-phone.coccoc-alo-green:hover .coccoc-alo-ph-img-circle {
    background-color: #75eb50;
}

@-moz-keyframes coccoc-alo-circle-anim {
    0% {
        transform: rotate(0) scale(0.5) skew(1deg);
        opacity: 0.1;
    }
    30% {
        transform: rotate(0) scale(0.7) skew(1deg);
        opacity: 0.5;
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: 0.1;
    }
}

@-webkit-keyframes coccoc-alo-circle-anim {
    0% {
        transform: rotate(0) scale(0.5) skew(1deg);
        opacity: 0.1;
    }
    30% {
        transform: rotate(0) scale(0.7) skew(1deg);
        opacity: 0.5;
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: 0.1;
    }
}

@-o-keyframes coccoc-alo-circle-anim {
    0% {
        transform: rotate(0) scale(0.5) skew(1deg);
        opacity: 0.1;
    }
    30% {
        transform: rotate(0) scale(0.7) skew(1deg);
        opacity: 0.5;
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: 0.1;
    }
}

@keyframes coccoc-alo-circle-anim {
    0% {
        transform: rotate(0) scale(0.5) skew(1deg);
        opacity: 0.1;
    }
    30% {
        transform: rotate(0) scale(0.7) skew(1deg);
        opacity: 0.5;
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: 0.1;
    }
}

@-moz-keyframes coccoc-alo-circle-fill-anim {
    0% {
        transform: rotate(0) scale(0.7) skew(1deg);
        opacity: 0.2;
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: 0.2;
    }
    100% {
        transform: rotate(0) scale(0.7) skew(1deg);
        opacity: 0.2;
    }
}

@-webkit-keyframes coccoc-alo-circle-fill-anim {
    0% {
        transform: rotate(0) scale(0.7) skew(1deg);
        opacity: 0.2;
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: 0.2;
    }
    100% {
        transform: rotate(0) scale(0.7) skew(1deg);
        opacity: 0.2;
    }
}

@-o-keyframes coccoc-alo-circle-fill-anim {
    0% {
        transform: rotate(0) scale(0.7) skew(1deg);
        opacity: 0.2;
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: 0.2;
    }
    100% {
        transform: rotate(0) scale(0.7) skew(1deg);
        opacity: 0.2;
    }
}

@keyframes coccoc-alo-circle-fill-anim {
    0% {
        transform: rotate(0) scale(0.7) skew(1deg);
        opacity: 0.2;
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: 0.2;
    }
    100% {
        transform: rotate(0) scale(0.7) skew(1deg);
        opacity: 0.2;
    }
}

@-moz-keyframes coccoc-alo-circle-img-anim {
    0% {
        transform: rotate(0) scale(1) skew(1deg);
    }
    10% {
        transform: rotate(-25deg) scale(1) skew(1deg);
    }
    20% {
        transform: rotate(25deg) scale(1) skew(1deg);
    }
    30% {
        transform: rotate(-25deg) scale(1) skew(1deg);
    }
    40% {
        transform: rotate(25deg) scale(1) skew(1deg);
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg);
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg);
    }
}

@-webkit-keyframes coccoc-alo-circle-img-anim {
    0% {
        transform: rotate(0) scale(1) skew(1deg);
    }
    10% {
        transform: rotate(-25deg) scale(1) skew(1deg);
    }
    20% {
        transform: rotate(25deg) scale(1) skew(1deg);
    }
    30% {
        transform: rotate(-25deg) scale(1) skew(1deg);
    }
    40% {
        transform: rotate(25deg) scale(1) skew(1deg);
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg);
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg);
    }
}

@-o-keyframes coccoc-alo-circle-img-anim {
    0% {
        transform: rotate(0) scale(1) skew(1deg);
    }
    10% {
        transform: rotate(-25deg) scale(1) skew(1deg);
    }
    20% {
        transform: rotate(25deg) scale(1) skew(1deg);
    }
    30% {
        transform: rotate(-25deg) scale(1) skew(1deg);
    }
    40% {
        transform: rotate(25deg) scale(1) skew(1deg);
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg);
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg);
    }
}

@keyframes coccoc-alo-circle-img-anim {
    0% {
        transform: rotate(0) scale(1) skew(1deg);
    }
    10% {
        transform: rotate(-25deg) scale(1) skew(1deg);
    }
    20% {
        transform: rotate(25deg) scale(1) skew(1deg);
    }
    30% {
        transform: rotate(-25deg) scale(1) skew(1deg);
    }
    40% {
        transform: rotate(25deg) scale(1) skew(1deg);
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg);
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg);
    }
}
