* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    /* background: #f9f9fb; */
}

body,
input,
button {
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
    /* font-family: 'Roboto', sans-serif; */
}

/* Hero  */

.hero {
    background-image: url("../images/anh-3.png");
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;
    background-position: center;
    height: 620px;
    position: relative;
}

.main-content {
    width: 1200px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.hero .body {
    display: flex;
}

.hero .media-block {
    width: 40%;
}

.hero .media-block .media {
    position: relative;
    height: 320px;
}

.hero .media-block .media .img-1 {
    width: 370px;
    position: absolute;
    top: 20px;
    left: 550px;
    display: block;
    float: right;
}

.hero .media-block .media .img-2 {
    height: 476px;
    position: absolute;
    bottom: 20px;
    left: 280px;
    float: left;
    z-index: 1;
}

.hero .content-block {
    width: 60%;
    color: #f15623;
    text-align: center;
}

.hero .content-block .heading {
    padding-top: 250px;
    font-size: 3rem;
    font-style: italic;
    margin-left: 70px;
}

.hero .content-block .heading-action {
    padding-top: 10px;

    font-size: 2rem;
}

.hero .content-block .heading-action span {
    font-size: 4.1rem;
    line-height: 37px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}
.hero .content-block .desc {
    padding-top: 20px;
    font-size: 1.5rem;
    font-weight: 400;
}

.hero .content-block .cta {
    display: inline-block;
}

.hero .content-block .cta a {
    margin-top: 10px;
    font-size: 20px;
    line-height: 32px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    background-color: #f15623;
    text-align: center;
    border-width: 3px solid #f15623;
    border-radius: 56px;
    width: 242px;
    height: 56px;
    display: block;
    padding-top: 12px;
}

/* Number  */
.number {
    padding: 50px 0;
}

.number .group-item {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}

.number .group-item .item {
    display: block;
}

.number .group-item .item .img {
    position: absolute;
    top: 20px;
    left: 0;
    width: 50px;
}

.number .group-item .item h3 {
    padding-top: 20px;
    margin-left: 70px;
    font-size: 42px;
    font-weight: 700;
    color: #f15623;
}
.number .group-item .item p {
    margin-left: 70px;
    color: #848d95;
}

/* Price  */

.price .row {
    display: flex;
    gap: 30px;
    justify-content: space-evenly;
}
.price .group-item {
    border: 2px solid red;
    border-radius: 10px;
    padding: 10px;
    flex-grow: 1;
}

.price .group-item .item-row {
    display: flex;
    align-items: center;
    column-gap: 5px;
    padding: 10px;
}

.price .group-item .item .item-row img {
    height: 30px;
}

.price .group-item .item .item-row img:nth-child(2) {
    margin-left: auto;
}
.price .group-item .item-row .fa-circle-check {
    color: green;
}

.price .group-item .item-row .fa-circle-xmark {
    color: red;
}

/* Intro  */

.intro {
    padding: 20px 0;
    /* background-color: #000; */
}

.intro .heading {
    text-align: center;
    font-size: 23px;
    line-height: 37px;
    color: #f15623;
    font-weight: 700;
    position: relative;
}

.intro .heading::after {
    position: absolute;
    content: "";
    height: 5px;
    width: 350px;
    border-bottom: 1px solid #f15623;
    left: 415px;
}

.intro .intro-row {
    padding-top: 40px;
    display: flex;
    gap: 30px;
    justify-content: center;
    position: relative;
}

.intro .number-item {
    width: 425px;
    background-color: #f8f5f5;
    color: #f15623;
    height: 230px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: rgb(0, 0, 0) 0px 15px 20px -20px;
}

.intro .number-item h3 {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
}

.intro .number-item p {
    font-size: 19px;
    color: #575757;
    margin-top: 20px;
    display: block;
    text-align: right;
}

.intro .number-item span {
    font-size: 66px;
    color: #f15623;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    line-height: 0.9;
}

.intro .number-item .item-row {
    display: flex;
    margin-top: 20px;
    margin-left: 5px;
    align-items: center;
}

.intro .number-item .item-row p {
    text-align: left;
    margin-left: 10px;
    margin-top: 0px;
    font-size: 19px;
}

.intro .number-item .item-row img {
    height: 60px;
    width: 60px;
    background-color: #f15623;
    padding: 10px;
    border-radius: 50%;
}

.intro .intro-brand {
    display: flex;
    width: 680px;
    margin: 50px auto 0;
    background-color: #f8f5f5;
    padding: 20px;
    border-radius: 15px;
    box-shadow: rgb(0, 0, 0) 0px 15px 20px -20px;
}

.intro .intro-brand img {
    height: 60px;
    width: 60px;
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid #f15623;
}

.intro .intro-brand p {
    margin-left: 10px;
    font-size: 19px;
    color: #575757;
    line-height: 1.2;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
}

.intro .intro-cta {
    padding-top: 50px;
    text-align: center;
}

.intro .intro-cta h3 {
    font-size: 2.3rem;
    line-height: 3.7rem;
    font-weight: 700;
    color: #575757;
    display: block;
}

.intro .intro-cta a {
    margin: 20px auto 0;
    padding: 20px;
    display: block;
    text-decoration: none;
    width: 200px;
    color: #f15623;
    border: 2px solid #f15623;
    background-color: #fff;
    border-radius: 50px;
}

/* Feature  */

.feature {
    background-color: #f15623;
    padding-bottom: 50px;
}

.feature .heading {
    text-align: center;
    padding-top: 40px;
}

.feature .heading h2 {
    color: #fff;
    font-size: 23px;
    line-height: 1.6;
    font-weight: 700;
    position: relative;
}

.feature .heading h2::after {
    position: absolute;
    content: "";
    height: 5px;
    width: 350px;
    border-bottom: 1px solid #fff;
    top: 40px;
    left: 415px;
}

.feature .heading p {
    color: #fff;
    font-size: 1.6rem;
    line-height: 26px;
    padding-top: 20px;
}

.feature .feature-row {
    display: flex;
    margin: 20px 110px 0;
}

.feature .feature-info {
    color: #fff;
    font-size: 1.6rem;
    line-height: 26px;
    padding: 0 20px;
}

.feature .feature-info ul {
    padding-left: 20px;
    list-style-type: disc;
    list-style-position: outside;
}

/* customer  */

.customer .heading {
    text-align: center;
    padding-top: 40px;
}

.customer .heading h2 {
    color: #f15623;
    font-size: 23px;
    line-height: 1.6;
    font-weight: 700;
    position: relative;
}

.customer .heading h2::after {
    position: absolute;
    content: "";
    height: 5px;
    width: 150px;
    border-bottom: 1px solid #f15623;
    top: 40px;
    left: 515px;
}

.customer .customer-row {
    display: flex;
    column-gap: 17px;
    margin: 30px 150px;
    flex-grow: 1;
}

.customer .customer-row .customer-item {
    background: #f0f0f0;
    border: 1px solid #000;
    border-radius: 20px;
    padding: 15px;
    width: 288px;
    position: relative;
}
.customer .customer-item .img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 3px solid #f15623;
    position: absolute;
    background-color: #ccc;
}
.customer .customer-item .info h3 {
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    margin-left: 80px;
    padding-top: 5px;
}

.customer .customer-item .info span {
    font-weight: 400;
    line-height: 26px;
    margin-left: 80px;
}

.customer .customer-item .desc {
    margin: 20px auto;
    font-size: 14px;
    line-height: 22px;
    text-align: justify;
}

.customer .customer-item .btn {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #107d91;
}

/* Partner  */

.partner .heading {
    text-align: center;
    padding-top: 60px;
    padding-top: 20px;
}

.partner .heading h2 {
    color: #f15623;
    font-size: 23px;
    line-height: 1.6;
    font-weight: 700;
    position: relative;
}

.partner .heading h2::after {
    position: absolute;
    content: "";
    height: 5px;
    width: 350px;
    border-bottom: 1px solid #f15623;
    top: 40px;
    left: 430px;
}

.partner .heading p {
    color: #000;
    font-size: 1.6rem;
    line-height: 26px;
    padding-top: 20px;
}

.partner .partner-group {
    display: flex;
    align-items: center;
}

.partner .partner-group .item {
    flex-grow: 1;
    text-align: center;
    padding-bottom: 60px;
}

.partner .partner-group .item .img {
    width: 170px;
}

/* Footer  */

.footer {
    background-color: #f15623;
    padding-bottom: 50px;
}

.footer .heading {
    text-align: center;
    padding-top: 40px;
}

.footer .heading h2 {
    color: #fff;
    font-size: 23px;
    line-height: 1.6;
    font-weight: 700;
    position: relative;
}

.footer .heading h2::after {
    position: absolute;
    content: "";
    height: 5px;
    width: 350px;
    border-bottom: 1px solid #fff;
    top: 40px;
    left: 415px;
}

.footer .heading p {
    color: #fff;
    font-size: 1.6rem;
    line-height: 26px;
    padding-top: 20px;
}

.footer .footer-row {
    display: flex;
    margin: 20px 110px 0;
}

.footer .footer-info {
    color: #fff;
    font-size: 1.4rem;
    line-height: 26px;
    padding: 0 20px;
}

.footer .footer-info ul {
    padding-left: 20px;
    list-style-type: square;
    list-style-position: outside;
}
