* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    /* background: #f9f9fb; */
}

body,
input,
button {
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
    /* font-family: 'Roboto', sans-serif; */
}

/* Hero  */

.hero {
    background-image: url("../images/anh-3.png");
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;
    background-position: center;
    height: 620px;
    position: relative;
}

.main-content {
    width: 1200px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.hero .body {
    display: flex;
}

.hero .media-block {
    width: 40%;
}

.hero .media-block .media {
    position: relative;
    height: 320px;
}

.hero .media-block .media .img-1 {
    width: 370px;
    position: absolute;
    top: 20px;
    left: 550px;
    display: block;
    float: right;
}

.hero .media-block .media .img-2 {
    height: 476px;
    position: absolute;
    bottom: 20px;
    left: 280px;
    float: left;
    z-index: 1;
}

.hero .content-block {
    width: 60%;
    color: #ee0034;
    text-align: center;
}

.hero .content-block .heading {
    padding-top: 250px;
    font-size: 3rem;
    font-style: italic;
    margin-left: 70px;
}

.hero .content-block .heading-action {
    padding-top: 10px;

    font-size: 2rem;
}

.hero .content-block .heading-action span {
    font-size: 4.1rem;
    line-height: 37px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}
.hero .content-block .desc {
    padding-top: 20px;
    font-size: 1.5rem;
    font-weight: 400;
}

.hero .content-block .cta {
    display: inline-block;
}

.hero .content-block .cta a {
    margin-top: 10px;
    font-size: 20px;
    line-height: 32px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    background-color: #ee0034;
    text-align: center;
    border-width: 3px solid #ee0034;
    border-radius: 56px;
    width: 242px;
    height: 56px;
    display: block;
    padding-top: 12px;
}

/* Intro  */

.intro {
    padding: 20px 0;
    /* background-color: #000; */
}

.intro .heading {
    text-align: center;
    font-size: 23px;
    line-height: 37px;
    color: #ee0034;
    font-weight: 700;
    position: relative;
}

.intro .heading::after {
    position: absolute;
    content: "";
    height: 5px;
    width: 350px;
    border-bottom: 1px solid #ee0034;
    left: 415px;
}

.intro .intro-row {
    padding-top: 40px;
    display: flex;
    gap: 30px;
    justify-content: center;
    position: relative;
}

.intro .number-item {
    width: 425px;
    background-color: #f8f5f5;
    color: #ee0034;
    height: 230px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.intro .number-item h3 {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
}

.intro .number-item p {
    font-size: 19px;
    color: #575757;
    margin-top: 20px;
    display: block;
    text-align: right;
}

.intro .number-item span {
    font-size: 66px;
    color: #ee0034;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    line-height: 0.9;
}

.intro .number-item .item-row {
    display: flex;
    margin-top: 20px;
    margin-left: 5px;
    align-items: center;
}

.intro .number-item .item-row p {
    text-align: left;
    margin-left: 10px;
    margin-top: 0px;
    font-size: 19px;
}

.intro .number-item .item-row img {
    height: 60px;
    width: 60px;
    background-color: #ee0034;
    padding: 10px;
    border-radius: 50%;
}
