* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

html,
body {
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Nunito", sans-serif;
    background-color: #7f7f7f;
}

.main-content {
    max-width: 1200px;
    margin: 0 auto;
}

.shopping-cart .container {
    position: absolute;
    height: 100vh;
    background-color: #fff;
    right: 0;
    width: 368px;
}

.shopping-cart .container .shop-header {
    display: flex;
    padding: 25px;
    font-weight: 700;
    font-size: 1.8rem;
    position: relative;
    justify-content: space-between;
    background-color: #f3f3f3;
}

.shopping-cart .container .shop-header span {
    position: absolute;
    left: 155px;
    top: 14px;
    font-size: 1.4rem;
    color: #fff;
    z-index: 1;
    font-weight: 400;
}

.shopping-cart .container .shop-header span::after {
    content: "";
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #405ff2;
    position: absolute;
    left: -5px;
    top: -3px;
    z-index: -1;
}

.shopping-cart .container .shop-header .fa-circle-xmark {
    color: #eb5b2c;
}
