* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Lato", sans-serif;
    background-color: #ccc;
}

.contact {
    background-color: #fff;
    width: 665px;
    margin-left: auto;
    margin-right: auto;
    padding: 28px 50px;
}

/* CSS phần header */

.header {
    margin-top: 28px;
}

.header h2 {
    font-size: 5rem;
    font-family: "Lobster Two", cursive;
}

.header p {
    margin-top: 32px;
    line-height: 1.5;
    color: #c2c2c2;
}

.header p span {
    color: #ee6358;
}

.contact-form {
    margin-top: 32px;
}

.group-input {
    margin-bottom: 30px;
    display: flex;
    position: relative;
}

.group-input label {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #d2d2d2;
    width: 55px;
    height: 60px;
}

.group-input:hover label {
    background-color: #333;
    color: #fff;
}

.group-input:hover select,
.group-input:hover textarea,
.group-input:hover input {
    border: 1px solid #333;
}

.fa-star,
.fa-times {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 10px;
    color: #999;
}

.input-require::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 8px;
    display: inline-block;
    border: 20px solid #333;
    border-top: 16px solid transparent;
    border-right: 16px solid transparent;
    transform: rotate(-45deg);
    color: #fff;
}

.group-input-area {
    display: flex;
    margin-bottom: 30px;
}

.group-input-area label {
    text-align: center;
    align-items: center;
    background-color: #d2d2d2;
    width: 55px;
    height: 238px;
}

.group-input select,
input,
textarea {
    width: 100%;
    border: 1px solid #d2d2d2;
}

textarea {
    height: 238px;
}

.group-input:hover .fa-star {
    color: black;
}

.fa-times {
    display: none;
}

.input-require {
    position: absolute;
    padding: 14px;
    background-color: #333;
    top: -70px;
    left: 45px;
    display: none;
    color: #fff;
}

.group-input i.select-icon {
    position: absolute;
    right: 20px;
    top: 50%;
    color: #999;
    font-size: 13px;
    transform: translateY(-50%);
}

.group-input:hover i.select-icon {
    color: #666;
}

input:focus ~ .fa-star,
textarea:focus ~ .fa-star {
    display: none;
}

input:focus ~ p.input-require,
input:focus ~ p.input-require::after,
input:focus ~ .fa-times,
textarea:focus ~ p.input-require,
textarea:focus ~ p.input-require::after,
textarea:focus ~ .fa-times {
    display: inline-block;
    color: #666;
    cursor: pointer;
}

.group-input-submit {
    display: flex;
    position: relative;
}

/* CSS - Send copy */
.message {
    margin-left: 40px;
}

.checkbox label::before,
.checkbox label::before {
    content: "";
    display: inline-block;
}

.checkbox label::before {
    top: -6px;
    left: 0;
    width: 22px;
    height: 22px;
    border: 4px solid #d2d2d2;
    position: absolute;
}

.checkbox [type="checkbox"]:checked ~ label::after {
    top: -2px;
    left: 10px;
    width: 4px;
    height: 12px;
    border-right: 4px solid #000;
    border-bottom: 4px solid #000;
    position: absolute;
    rotate: 45deg;
}

/* CSS phần button */

.input-btn {
    display: inline-block;
    margin-left: auto;
    border: none;
    font-size: 18px;
    width: 130px;
    height: 38px;
    padding: 10px 40px;
    background-color: #ea3f33;
    color: #c2c2c2;
    letter-spacing: 1px;
    cursor: pointer;
}

.input-btn:hover {
    opacity: 0.9;
    color: #fff;
}
