* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Roboto", sans-serif;
}

.content {
    width: 1200px;
    margin: 0 auto;
}

.service {
    margin-top: 40px;
}

.service .sub-title {
    font-weight: 500;
    font-size: 3.2rem;
    text-align: center;
    font-family: "Playfair Display", serif;
}

.service .desc {
    margin-top: 16px;
    font-size: 1rem;
    text-align: center;
}

.list-service {
    margin-top: 88px;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.service-item {
    width: 320px;
    padding: 10px;
    text-align: center;
}

.service-item img {
    height: 9%;
    width: 90px;
    display: inline-block;
}

.service-item .sub-title {
    margin-top: 30px;
    font-weight: 700;
    font-size: 1.6rem;
    text-align: center;
    font-family: "Playfair Display", serif;
}

.service-item .desc {
    margin-top: 15px;
    font-size: 1.2rem;
    line-height: 1.4;
    font-weight: 300;
    color: #a4a6a7;
    height: 100px;
}

.btn {
    width: 105px;

    text-decoration: none;
    color: #fff;
    background-color: #29378e;
    display: inline-block;
    text-align: center;
    margin-top: 30px;
    padding: 10px;
    font-size: 1.1rem;
    cursor: pointer;
}
