* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Roboto", sans-serif;
}

.content {
    width: 1200px;
    margin: 0 auto;
}

.service {
    margin-top: 20px;
}

.service .sub-title {
    font-weight: 700;
    font-size: 3.4rem;
    text-align: center;
    font-family: "Playfair Display", serif;
}

.service .desc {
    margin-top: 16px;
    font-size: 1.1rem;
    text-align: center;
}

.list-service {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.service-item {
    padding-top: 10px;
    width: 300px;
    text-align: center;
}

.service-item img {
    height: 9%;
    width: 90px;
    display: inline-block;
    margin-bottom: -5px;
}

.service-item .sub-title {
    margin-top: 10px;
    font-weight: 700;
    font-size: 1.6rem;
    text-align: center;
    font-family: "Playfair Display", serif;
}

.service-item .desc {
    margin-top: 10px;
    font-size: 1.1rem;
    line-height: 1.4;
    font-weight: 300;
    color: #a4a6a7;
    height: 70px;
}

.btn {
    width: 105px;

    text-decoration: none;
    color: #fff;
    background-color: #29378e;
    display: inline-block;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    font-size: 1.1rem;
    cursor: pointer;
}
