* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

.tab-bar {
    margin: 30px;
    display: inline-flex;
}

.tab-bar > .tab-item {
    background-color: #fff;
    color: #b09757;
    padding: 10px 20px;
    border: 1px solid #b09757;
}

.tab-bar > .tab-item .active {
    background-color: #b09757;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.content {
    display: flex;
    width: 100%;
}

iframe {
    width: 800px;
}

.address {
    width: 500px;
    padding: 30px;
    background-color: #f6f6f6;
}

.not-show {
    display: none;
}
