* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

.tab-bar {
    margin: 50px 40px;
    display: flex;
}

.tab-item .active {
    background-color: #b09757;
}

.tab-item {
    background-color: #fff;
    color: #b09757;
    border: 1px solid #b09757;
    padding: 10px 20px;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.content {
    display: flex;
    width: 100%;
}

iframe {
    width: 800px;
    height: 400px;
}

.address {
    width: 500px;
    padding: 30px;
    background-color: #f6f6f6;
}

.heading {
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.info-contact {
    line-height: 1.4;
    margin-bottom: 20px;
}

a {
    color: #b09757;
}

.not-show {
    display: none;
}
